beautifulsoup4==4.13.4
dotenv
faiss-cpu
groq==0.28.0
numpy
openai==1.93.3
orjson
pandas
playwright
plotly
python-dotenv
sentence-transformers
setuptools
simplejson
tqdm==4.67.1
vectorbt
virtualenv
yfinance==0.2.61
